{% extends 'base.html.twig' %}

{% block title %}Hello ServiceController!{% endblock %}

{% block body %}

          <!-- Recent Activity -->
          <div class="card">

            <div class="card-body">
              <h5 class="card-title">Liste des soins</h5>

                {{form(formSoin)}}

            </div>
          </div><!-- End Recent Activity -->

{% endblock %}
