{% extends 'base.html.twig' %}

{% block title %}Image | Création {% endblock %}

{% block body %}
	<!-- Card with header and footer -->
	<div class="card">
		<div class="card-header">Ajouter une photo</div>
		<div class="card-body">
			<h5 class="card-title"></h5>
			{{form(form)}}
		</div>
		<div class="card-footer">
			<p>Prendre une photo et choisir un utilisateur.</p>
		</div>
	</div><!-- End Card with header and footer -->

{% endblock %}
