{% extends 'base.html.twig' %}

{% block body %}

<div class="container mx-auto mt-4">
    <div class="card text-center">
		<h1>Liste des clients</h1>
    <a href="{{path('app_clients_new')}}" class="btn btn-primary">Ajouter un client</a>
    </div>
    <div class="row mt-4">
		  {{component('customer_search')}}

		  {{component('all_customers')}}
    </div>
</div>
{% endblock %}