{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}


 <!-- Card with an image on bottom -->
<div class="card w-50">
	<div class="card-body">
		<div class="d-flex justify-content-between align-items-center">
		<h5 class="card-title">{{history.service}}</h5>
		{% for c in history.customers %}
		<a href="{{path('app_client_show', {'id': c.id})}}" class="btn btn-outline-primary p-1">Retour</a>
		{% endfor %}
		</div>
		<p class="card-text">Crée le : {{history.createdAt | date("d/m/Y")}}</p>
		<div>
			
			{% if vich_uploader_asset(history, 'imageFile') is null %}
				<img src="https://picsum.photos/200/300" alt="Avatar">
			{% else %}
				<img src="{{ vich_uploader_asset(history, "imageFile") | imagine_filter('profile') }}" alt="Avatar">
			{% endif %}
		</div>
	</div>
	<!-- Slides with indicators -->
	{# <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
		<div class="carousel-indicators">
			<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
			<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
			<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
		</div>
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img src="https://picsum.photos/seed/picsum/200/300" class="d-block w-100" alt="...">
			</div>
			<div class="carousel-item">
				<img src="https://picsum.photos/200/300?grayscale" class="d-block w-100" alt="...">
			</div>
			<div class="carousel-item">
				<img src="https://picsum.photos/200/300/?blur" class="d-block w-100" alt="...">
			</div>
		</div>

		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>

	</div> #}
	<!-- End Slides with indicators -->
</div><!-- End Card with an image on bottom -->
{% endblock %}